.checkbox-item {
    position: relative;
    margin-bottom: 18px;
}

.checkbox-item input {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 20px;
    margin-top: -10px;
}

.checkbox-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px 16px 65px;
    border: solid 1px var(--my-c-gray-4);
    border-radius: 8px;
    cursor: pointer;
}


.checkbox-item input:checked + label {
    border-color: var(--my-c-primary-2);
    background: var(--my-c-gray-2);
}

.checkbox-item input + label:hover,
.checkbox-item input:focus + label {
    border-color: var(--my-c-primary-2);
}

.checkbox-item input:focus-visible + label {
    border-color: var(--my-c-primary-2);
    outline: solid 1px var(--my-c-primary-2);
}

.checkbox-item .title {
    display: block;
    font-weight: 700;
    line-height: 1.2;
    color: var(--my-c-primary-1);
}

.checkbox-item .text {
    font-size: 15px;
}

.checkbox-item .price {
    color: var(--my-c-primary-2);
}
