:root {
  --my-c-primary-1: hsl(213, 96%, 18%);
  --my-c-primary-2: hsl(243, 100%, 62%);
  --my-c-primary-3: hsl(228, 100%, 84%);
  --my-c-primary-4: hsl(206, 94%, 87%);
  --my-c-primary-5: hsl(354, 84%, 57%);

  --my-c-gray-1: hsl(0, 0%, 100%);
  --my-c-gray-2: hsl(231, 100%, 99%);
  --my-c-gray-3: hsl(217, 100%, 97%);
  --my-c-gray-4: hsl(229, 24%, 87%);
  --my-c-gray-5: hsl(231, 11%, 63%);

  --color-text: var(--my-c-gray-5);
  --color-background: var(--my-c-gray-3);

  --font-family-main: 'Ubuntu', Ubuntu, sans-serif;

  --botton-color: var(--my-c-primary-1);
  --botton-color-hover: var(--my-c-primary-2);

  --botton-link-color: var(--color-text);
  --botton-link-color-hover: var(--botton-color);
}


@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular.woff2') format('woff2'),
  url('./fonts/ubuntu-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-medium.woff2') format('woff2'),
  url('./fonts/ubuntu-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-bold.woff2') format('woff2'),
  url('./fonts/ubuntu-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
