.content {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.form {
    min-height: 465px;
    flex-grow: 1;
    display: block;
    margin-top: 0em;
}

.form-step {
    padding: 33px 0;
}
