.radio {
    display: flex;
    align-items: stretch;
    margin-bottom: 32px;
    min-height: 160px;

    & .radio-item:first-child {
        margin-left: 0;
    }

    & .plans-radio .my-radio {
        position: relative;
    }

    & .radio-item {
        display: flex;
        width: 33.3%;
        margin: 0 8px;
    }

    & .my-radio-input {
        position: absolute;
        top: 0;
        opacity: 0;
    }

    & .my-radio-label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 11px 15px;
        border: solid 1px var(--my-c-gray-4);
        border-radius: 8px;
        cursor: pointer;
    }

    & .my-radio-input:checked + .my-radio-label {
        border-color: var(--my-c-primary-2);
        background: var(--my-c-gray-2);
    }

    & .my-radio-input + .my-radio-label:hover,
    .my-radio-input:focus + .my-radio-label {
        border-color: var(--my-c-primary-2);
    }

    & .my-radio-input:focus-visible + .my-radio-label {
        border-color: var(--my-c-primary-2);
        outline: solid 1px var(--my-c-primary-2);
    }

    & .text {
        font-size: 13px;
    }

    & .title {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: var(--my-c-primary-1);
    }
}

.my-radio-label .arcade {
    background-image: url("./arcade.svg");
    width: 40px;
    height: 40px;
}

.my-radio-label .advanced {
    background-image: url("./advanced.svg");
    width: 40px;
    height: 40px;
}

.my-radio-label .pro {
    background-image: url("./pro.svg");
    width: 40px;
    height: 40px;
}
