.box {
    margin-bottom: 10px;
    padding: 38px 0 9px;
    background: var(--my-c-gray-2);
    border-radius: 10px;
}

.box .summary {
    font-size: 14px;
    padding: 0 20px;
}

.summary .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.box .addons {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px var(--my-c-gray-4);
}

.box .summary .title {
    font-size: 16px;
    font-weight: 700;
    color: var(--my-c-primary-1);
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.total {
    font-size: 19px;
    font-weight: 700;
    color: var(--my-c-primary-2);
}

.summary-form {
    font-size: 14px;
}
