@import "assets/base.css";
@import "assets/form.css";
@import "assets/plansInfo.css";
@import "assets/addonsInfo.css";
@import "assets/summary.css";

body {
    color: var(--color-text);
    background: var(--color-background);
    font-family: var(--font-family-main);
    font-size: 16px;
    line-height: 1.6;
}

.root {
    display: flex;
    place-items: center;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    width: 100%;
    max-width: 910px;
    justify-content: space-between;
    margin: 100px auto 0;
    padding: 15px;
    border-radius: 15px;
    background: var(--my-c-gray-1);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;

    & .next {
        min-width: 122px;
    }

    & .button {
        margin: 0;
        padding: 13px 23px 15px;
        font-size: 17px;
        font-family: var(--font-family-main);
        background: var(--botton-color);
        color: var(--my-c-gray-1);
        border-radius: 8px;
        cursor: pointer;
        appearance: none;
        border: none;
        transition: color .3s ease, background .3s ease;
    }

    & .button:hover {
        background: var(--botton-color-hover);
    }

    & .button.link {
        padding: 3px 0;
        background: none;
        color: var(--botton-link-color);
    }

    & .button.link:hover {
        background: none;
        color: var(--botton-link-color-hover);
    }
}

h2 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

